# Database Configuration
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=agprueba

# Google OAuth (optional)
GOOGLE_CLIENT_ID=89387125120-8evcs88o8g0kk6pfnv41p7iiggofk2n3.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
